[Unit]
Description=uWSGI instance to serve autoliter
After=network.target

[Service]
Type=forking
User=admin
Group=admin
WorkingDirectory=/home/admin/remote/autoLiter_web/
Environment="PATH=/home/admin/anaconda3/envs/autoliter/"
ExecStart=/usr/local/uwsgi-2.0.20/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
