{% extends "base.html"%}
{% import "_macros.html" as macros %}

{% block styles %}
{{super()}}
<style>
img {
    max-width: 60%;
    max-height: 100%;
    display: block;
    /* text-align: center; */
    margin:0 auto;
    }

table {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin:0 auto;
    text-align: center;
    }
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    text-align: center;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}

</style>
{% endblock %}

{% block page_content %}
{% for post in posts %}
<div class="row">
    <div class="col-md-12 row note-list">
        <div class="col-md-12 detail">
            <div class="title"><strong>{{ post.title }}</strong></div>
            <div class="intro">
                <!-- Server-side output Markdown text -->
                <!-- <div id="markdown-view">
                    <textarea style="display:none;">
                        {{ post.content_md | safe }}
                    </textarea>             
                </div> -->
                <!-- {{ post.content }} -->
                {{ post.content_html | safe}}
            </div>
            <div class="info">
                <div class="pull-right">
                    <a href="{{ url_for('main.del_post') }}?id={{ post.id }}">删除</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('main.pre_post') }}?id={{ post.id }}">继续编辑</a>
                </div>   
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if posts %}
{% if pagination %}
<div class="pagination">
    {% if posts[0].post_type == "idea" %}
    {{ macros.pagination_widget(pagination, "main.idea", fragment='', id=posts[0].id) }}
    {% else %} 
    {{ macros.pagination_widget(pagination, "main.conclusion", fragment='', id=posts[0].id) }}
    {% endif %}
</div>
{% endif %}
{% endif %}

{% endblock %}