{% extends "base.html"%}
{% import "_macros.html" as macros %}

{% block page_content %}
{% for idea in ideas %}
<div class="row">
    <div class="col-md-12 row note-list">
        <div class="col-md-12 detail">
            <div class="title"><strong>{{ idea.title }}</strong></div>
            <div class="intro">
                {{ idea.content | safe }}
            </div>
            <div class="info">
                <div class="pull-right">
                    <a href="{{ url_for('main.del_post') }}?id={{ idea.id }}">删除</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('main.pre_post') }}?id={{ idea.id }}">继续编辑</a>
                </div>   
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if ideas %}
{% if pagination %}
<div class="pagination">
    {% if ideas[0].idea %}
    {{ macros.pagination_widget(pagination, "main.idea", fragment='', id=ideas[0].id) }}
    {% else %}
    {{ macros.pagination_widget(pagination, "main.conclusion", fragment='', id=ideas[0].id) }}
    {% endif %}
</div>
{% endif %}
{% endif %}

{% endblock %}