{% extends "base.html" %}

{% block title %}autoLiter - 编辑{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ue/ueditor.config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ue/ueditor.all.js') }}"></script>
<script type="text/javascript">
    var ue = UE.getEditor('content', {
        serverUrl: '/ueditor'
    });
</script>

<script type="text/javascript">
    function doUserPost() {
        var postid = '{{ post.id }}';
        var headline = $.trim($("#headline").val());
        var contentPlain = UE.getEditor("content").getContentTxt();

        if (headline.length < 1) {
            bootbox.alert({title:"错误提示", message:"标题不能少于1个字"});
            return false;
        }
        else if (contentPlain.length < 10) {
            bootbox.alert({title:"错误提示", message:"内容不能低于10个字"});
            return false;
        }

        // 发送请求时，带上postid
        var param = "headline=" + headline;
        param += "&content=" + encodeURIComponent(UE.getEditor("content").getContent());
        param += "&idea=" + $("#type").val();
        param += "&drafted=0";
        param += "&postid=" + postid;
        $.post('/addpost', param, function (data) {
             if (data == "conclusion" || data == "idea") {
                bootbox.alert({title:"信息提示", message:"发布成功."});
                setTimeout(function () {
                    // 跳转到文章首页
                    location.href = '/' + data;
                }, 1000);
            }
            else {
                bootbox.alert({title:"错误提示", message:"发布失败."});
            }
        });
    }
</script>
{% endblock %}

{% block page_content %}
<div class="container" style="margin-top: 20px; background-color: white; padding: 20px;">
    <div class="row form-group">
        <label for="headline" class="col-md-1">文章标题</label>
        {% if post %}
        <input type="text" class="col-md-11" id="headline" value="{{ post.title }}"/>
        {% else %}
        <input type="text" class="col-md-11" id="headline"/>
        {% endif %}
    </div>
    <div class="row">
        <script id="content" name="content" type="text/plain">
        {% if post %}{{ post.content | safe }}{% endif %}
        </script>
    </div>

    <div class="row form-group" style="margin-top: 20px; padding-top: 10px;">
        <label for="type" class="col-md-1">类型:</label>
        <div class="col-md-2">
            <select class="form-control" id="type">
                <option value="1">总结</option>
                <option value="2">想法</option>
            </select>
        </div>
        
        <label class="col-md-4"></label>
        
        <label class="col-md-1"></label>
        <div class="col-md-2">
            <button class="form-control btn-primary" onclick="doUserPost()">发布文章</button>
        </div>
    </div>
</div>
{% endblock %}