{% extends "base.html" %}

{% block title %}autoLiter - 编辑{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
<!-- editor.md: create it -->
<link rel="stylesheet" href="{{ url_for('static', filename='editor.md/css/editormd.min.css')}}" />
<!-- <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='editor.md/editormd.min.js')}}"></script>
<script type="text/javascript">
  // 接收后端传来的数据供单独的JS程序使用
  var editorLibPath = "{{ url_for('static', filename='editor.md/lib/') }}"
  var imageUploadURL = "{{ url_for('main.upload') }}"
  var postId = '{{ post.id }}';
  var postType = '{{ post.post_type }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prepare.post.js')}}"></script>
{% endblock %}

{% block page_content %}
<div class="input-group">
    <span class="input-group-addon">标题:</span>
    {% if post %}
    <input type="text" class="form-control" id="headline" value="{{ post.title }}">
    {% else %}
    <input type="text" class="form-control" id="headline">
    {% endif %}
    <span class="input-group-btn">
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#releaseModal" id="modalWindow">
            发表文章
        </button>
    </span>
</div>

<div id="editor">
    <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
    {% if post %}
    <textarea style="display:none;">{{ post.content }}</textarea>
    {% else %}
    <textarea style="display:none;"></textarea>
    {% endif %}
</div>

<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalCenterTitle">发表文章</h4>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>文章类型:</label>
                    <input type="radio" name="postType" value="idea"> 想法 </input>
                    <input type="radio" name="postType" value="conclusion"> 总结 </input>
                </div>
            </form>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="releasePost">发表</button>
        </div>
      </div>
    </div>
</div>
  


{% endblock %}